body {
    text-align: center;
    font-size: 25px;
}

button {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(145,87,193);
    color: white;
    font-size: 30px;
    margin: 10px;
    transition: 300ms;
}

button:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.05);
}

.decrement {
    width: 40px;
}

.logorestaurant {
    width: 300px;
}

.logogn {
    margin-top: 80px;
    width: 60px;
}

.product-name {
    font-size: 35px;
  }